<div *ngFor="let filter of filterService.filters$ | async">

</div>

<input type="number" [(ngModel)]="peak">

<input [(ngModel)]="adsr.attackTime" type="number">
<input [(ngModel)]="adsr.decayTime" type="number">
<input [(ngModel)]="adsr.startLevel" type="number">
<input [(ngModel)]="adsr.sustainLevel" type="number">
<input [(ngModel)]="adsr.releaseTime" type="number">

<select [(ngModel)]="selectedType">
  <option [value]="filter" *ngFor="let filter of filterTypes">
    {{filter}}
  </option>
</select>

<button (click)="changeFilter()">add</button>