:host {
  display: flex;
  flex: 1 1;
  border: 1px solid pink;
  cursor: pointer;
  height: 100px;

  &:hover {
    background-color: orangered;
  } 
}

.key {
  display: flex;
  flex: 1 1;
  justify-content: center;
}
