<main class="container">
  <header>
    <h1>SUNESYNTH</h1>
  </header>

  <section class="osc1 panel">
    <header>
      <h3>OSC 1</h3>
    </header>

    <div class="flex flex-column flex-space-between" style="height: 100%;">
      <knob [(ngModel)]="osc1.type" [label]="'shape'" [type]="'shapes'"></knob>
      <knob [(ngModel)]="osc1.freq" [label]="'freq'" [type]="'balanced'"></knob>
      <knob [(ngModel)]="osc1.fine" [label]="'fine'" [type]="'balanced'"></knob>
    </div>
  </section>

  <section class="osc2 panel">
    <header>
      <h3>OSC 2</h3>
    </header>

    <div class="flex flex-column flex-space-between" style="height: 100%;">
        <knob [(ngModel)]="osc2.type" [label]="'shape'" [type]="'shapes'"></knob>
        <knob [(ngModel)]="osc2.freq" [label]="'freq'" [type]="'balanced'"></knob>
        <knob [(ngModel)]="osc2.fine" [label]="'fine'" [type]="'balanced'"></knob>
    </div>
  </section>

  <section class="filter panel">
    <header>
      <h3>FILTER</h3>
    </header>

    <div class="flex flex-row flex-space-between">
      <knob [label]="'cutoff'" [type]="'balanced'"></knob>
      <knob [label]="'res'" [type]="'balanced'"></knob>
    </div>
  </section>

  <section class="lfo panel">
    <header>
      <h3>LFO</h3>
    </header>

    <div class="flex flex-row flex-space-between">
      <knob [label]="'rate'" [type]="'balanced'"></knob>
      <knob [label]="'shape'" [type]="'shapes'"></knob>
    </div>
  </section>

  <section class="amp panel">
    <header>
      <h3>AMP</h3>
    </header>

    <div class="flex flex-row flex-space-between">
      <knob [label]="'Volume'" [type]="'balanced'"></knob>
    </div>
  </section>

  <section class="amp-env panel">
    <header>
      <h3>AMP ENV</h3>
    </header>

    <div class="flex flex-row flex-space-between flex-align-stretch" style="padding-top: 10px;">
      <fader [(ngModel)]="ampEnv.attackTime" [label]="'Attack'"></fader>
      <fader [(ngModel)]="ampEnv.delayTime" [label]="'Delay'"></fader>
      <fader [(ngModel)]="ampEnv.sustainLevel" [label]="'Sustain'"></fader>
      <fader [(ngModel)]="ampEnv.releaseTime" [label]="'Release'"></fader>
    </div>
  </section>

  <section class="filter-env panel">
    <header>
      <h3>FILTER ENV</h3>
    </header>

    <div class="flex flex-row flex-space-between flex-align-stretch" style="padding-top: 10px;">
      <fader [(ngModel)]="ampEnv.attackTime" [label]="'Attack'"></fader>
      <fader [(ngModel)]="ampEnv.delayTime" [label]="'Delay'"></fader>
      <fader [(ngModel)]="ampEnv.sustainLevel" [label]="'Sustain'"></fader>
      <fader [(ngModel)]="ampEnv.releaseTime" [label]="'Release'"></fader>
    </div>
  </section>

  <section class="keyboard">
    <div class="container">
      <key [type]="'left'"></key>
      <key [type]="'middle'"></key>
      <key [type]="'right'"></key>
      <key [type]="'left'"></key>
      <key [type]="'middle'"></key>
      <key [type]="'middle'"></key>
      <key [type]="'right'"></key>
      <key [type]="'left'"></key>
      <key [type]="'middle'"></key>
      <key [type]="'right'"></key>
      <key [type]="'left'"></key>
      <key [type]="'middle'"></key>
      <key [type]="'middle'"></key>
      <key [type]="'right'"></key>
      <key [type]="'whole'"></key>
    </div>
  </section>
</main>
