<div *ngIf="notes" class="container">
  <key class="major" [note]="notes[0]" [type]="'left'"></key>
  <key class="minor" [note]="notes[1]" [type]="'minor'"></key>
  <key class="major" [note]="notes[2]" [type]="'middle'"></key>
  <key class="minor" [note]="notes[3]" [type]="'minor'"></key>
  <key class="major" [note]="notes[4]" [type]="'right'"></key>
  <key class="major" [note]="notes[5]" [type]="'left'"></key>
  <key class="minor" [note]="notes[6]" [type]="'minor'"></key>
  <key class="major" [note]="notes[7]" [type]="'middle'"></key>
  <key class="minor" [note]="notes[8]" [type]="'minor'"></key>
  <key class="major" [note]="notes[9]" [type]="'middle'"></key>
  <key class="minor" [note]="notes[10]" [type]="'minor'"></key>
  <key class="major" [note]="notes[11]" [type]="'right'"></key>
  <key class="major" [note]="notes[12]" [type]="'left'"></key>
  <key class="minor" [note]="notes[13]" [type]="'minor'"></key>
  <key class="major" [note]="notes[14]" [type]="'middle'"></key>
  <key class="minor" [note]="notes[16]" [type]="'minor'"></key>
  <key class="major" [note]="notes[17]" [type]="'right'"></key>
  <key class="major" [note]="notes[18]" [type]="'left'"></key>
  <key class="minor" [note]="notes[19]" [type]="'minor'"></key>
  <key class="major" [note]="notes[20]" [type]="'middle'"></key>
  <key class="minor" [note]="notes[21]" [type]="'minor'"></key>
  <key class="major" [note]="notes[22]" [type]="'middle'"></key>
  <key class="minor" [note]="notes[23]" [type]="'minor'"></key>
  <key class="major" [note]="notes[24]" [type]="'right'"></key>
  <key class="major" [note]="notes[25]" [type]="'whole'"></key>
</div>